<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-med-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <!-- Header for the sign-up card -->
            <h5 class="m-0">Sign up to our newsletter</h5>
        </div>
        <div class="card-body">
            <!-- Create a form for user sign-up -->
            @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
            {
            <div class="row no-gutters">
                <div class="form-group col-md-12">
                    <!-- Input field for first name -->
                    <input name="FirstName" type="text" class="form-control" placeholder="First Name" />
                </div>
                <div class="form-group col-md-12">
                    <!-- Input field for last name -->
                    <input name="LastName" type="text" class="form-control" placeholder="Last Name" />
                </div>
                <div class="form-group col-md-12">
                    <!-- Input field for email address -->
                    <input name="EmailAddress" type="email" class="form-control" placeholder="Email Address" />
                </div>
                <!-- Submit button for the sign-up form -->
                <button type="submit" class="btn btn-block btn-primary">Submit</button>
            </div>
            }
        </div>
    </div>
</div>