<!-- Include the ViewModel namespace -->
@using NewsletterAppMVC.ViewModels
<!-- Define the ViewModel for this view -->
@model List<SignupVm>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <!-- Header for the sign-up list -->
            <h5 class="m-0">Sign-Ups</h5>
        </div>
        <div class="card-body">
            <!-- Loop through each sign-up in the ViewModel -->
            @foreach (var signup in Model)
            {
                <!-- Create a form for each sign-up to unsubscribe -->
                using (Html.BeginForm("Unsubscribe", "Admin", FormMethod.Post))
                {
                    <!-- Hidden input to store the sign-up's ID -->
                    <input type="hidden" name="Id" value="@signup.Id" />
                    <div class="row mb-3">
                        <div class="col-2">
                            <!-- Display the first name of the subscriber -->
                            @signup.FirstName
                        </div>
                        <div class="col">
                            <!-- Display the last name of the subscriber -->
                            @signup.LastName
                        </div>
                        <div class="col-4">
                            <!-- Display the email address of the subscriber -->
                            @signup.EmailAddress
                        </div>
                        <div class="col">
                            <!-- Button to submit the unsubscribe form -->
                            <button type="submit" class="btn btn-danger btn-block">
                                Unsubscribe
                            </button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>